@mui/material/styles;
@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400; /* Puedes elegir cualquier peso disponible */
  src: url('/path-to-poppins-font.woff2') format('woff2'); /* Asegúrate de proporcionar la ruta correcta al archivo de la fuente */
}

.poppins-font {
  font-family: 'Poppins', sans-serif;
}

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  /* color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}

